# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/build.log
/test.log
/trades.iws
/trades.ipr
/trades.iml
/trades-webapp/trades-webapp.iml
/trades-webapp/pom.xml
/trades-api-impl/logs/
/trades-api-impl/trades-api-impl.iml
/trades-api-impl/target/classes/
/trades-api-impl/target/test-classes/
/trades-api-impl/target/surefire-reports/
/trades-api-impl/target/maven-archiver/
/trades-webapp/target/maven-archiver/
/trades-webapp/target/trades-1.0/js/
/trades-webapp/target/trades-1.0/jsp/
/trades-webapp/target/classes/
/trades-webapp/target/trades-1.0/META-INF/
/trades-webapp/target/maven-archiver/pom.properties
/trades-webapp/target/trades-1.0/WEB-INF/
/trades-webapp/target/trades-1.0/css/
/trades-webapp/target/trades-1.0/
*.iws
